---
import Socials from "@/components/Socials.astro";
import { SOCIALS } from "@/constants";
import { Image } from "astro:assets";
import { SITE } from "@/config";
import LinkButton from "./LinkButton.astro";
import path from "path";

// https://github.com/withastro/astro/issues/3373
function importPublicImage(file: string) {
  const filename = path.parse(file);
  const name = filename.name;
  const ext = filename.ext;
  switch (ext) {
    case ".webp":
      return import(`../../public/${name}.webp`);
    case ".jpg":
      return import(`../../public/${name}.jpg`);
    case ".png":
      return import(`../../public/${name}.png`);
    case ".svg":
      return import(`../../public/${name}.svg`);
    case ".gif":
      return import(`../../public/${name}.gif`);
    case ".avif":
      return import(`../../public/${name}.avif`);
    case ".jpeg":
      return import(`../../public/${name}.jpeg`);
    default:
      throw new Error(`Failed to detect the image extensions. name: ${file}`);
  }
}
const icon = importPublicImage(SITE.icon);
---

<div
  class="mt-8 mb-6 flex flex-col items-center justify-center gap-y-4 text-center sm:flex-row sm:justify-start sm:gap-x-8 sm:text-left"
>
  <LinkButton
    id="profile-button"
    href="/about"
    class="focus-outline flex hover:text-foreground/75"
  >
    <Image
      src={icon}
      alt={SITE.author}
      class="aspect-auto w-32 flex-shrink-0"
    />
  </LinkButton>

  <div class="flex flex-col items-center sm:items-start">
    <h2 class="text-xl font-semibold tracking-wide">{SITE.author}</h2>
    <span class="opacity-80">{SITE.bio}</span>
    {
      // only display if at least one social link is enabled
      SOCIALS.length > 0 && (
        <div class="mt-2 flex flex-wrap justify-center gap-1 sm:justify-start">
          <Socials />
        </div>
      )
    }
  </div>
</div>
